@import "tailwindcss";

@layer base {
  :root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    background-color: #050505;
    color: #F0F0F0;
    font-family: 'Oswald', sans-serif;
  }

  * {
    box-sizing: border-box;
  }
}

@layer utilities {
  .text-outline {
    color: transparent;
    -webkit-text-stroke: 1px #F0F0F0;
    text-stroke: 1px #F0F0F0;
  }
  
  .text-outline-thick {
    color: transparent;
    -webkit-text-stroke: 2px #F0F0F0;
    text-stroke: 2px #F0F0F0;
  }
}
